<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Course Categories</title>
    <%- include('../partials/main') %>
  </head>
  <% if(typeof user === 'undefined') user = {} %> <% if(typeof err ===
  'undefined') err = {} %>
  <body>
    <div class="app container bg-white border-top border-4 border-success">
      <%- include('../partials/header') %>
      <div class="d-flex mx-4 mt-3 mb-5 flex-column">
        <h3 class="fs-2 fw-bold text-black">
          All Traning Programs in this system
        </h3>
        <img class="my-3" src="/category-bg.jpg" alt="" />
        <a
          href="/courses/faculty/IT"
          class="ms-3 py-2 fs-4 fw-bold text-decoration-none text-black border-bottom"
          >Information Technology Faculty</a
        >
        <a
          href="/courses/faculty/MME"
          class="ms-3 py-2 fs-4 fw-bold text-decoration-none text-black"
          >Multimedia Faculty</a
        >
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
