<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Form</title>
    <%- include('../partials/main') %>
  </head>
  <% if (typeof err === 'undefined') err = {}; %>
  <body>
    <div
      class="d-flex align-items-center justify-content-center"
      style="min-height: 90vh"
    >
      <div class="mt-0 p-4" style="background-color: #e9e9e9; width: 600px">
        <h2 class="text-center">Login Form</h2>
        <form method="post" action="/">
          <div class="form-group my-2">
            <label for="username" class="form-label fw-semibold"
              >Username</label
            >
            <input type="text" class="form-control" name="username" />
            <div class="err-message text-danger fst-italic">
              <%= err.username %>
            </div>
          </div>
          <div class="form-group my-2">
            <label for="password" class="form-label fw-semibold"
              >Password</label
            >
            <input type="password" class="form-control" name="password" />
            <div class="err-message text-danger fst-italic">
              <%= err.password %>
            </div>
          </div>
          <div class="d-grid gap-2 my-4">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
          <p class="text-center">
            If you do not have account, please sign in first by
            <a href="/signin">clicking here</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
