<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new courses</title>
    <%- include('../../partials/main') %>
</head>
<body>
    <% if (typeof err === 'undefined') err = {};%>
<body>
    <div class="app container bg-white border-top border-4 border-success">
        <%- include('../../partials/header') %>
        <div class="d-flex flex-column justify-content-center mx-5 p-4" style="background-color: #e9e9e9;">
            <h2 class="text-center">Create new topic</h2>
            <form method="post" action="/courses/<%= slug %>/file" enctype="multipart/form-data">
                <input type="text" id="topic" name="topic" required placeholder="Topic">
                <input type="text" id="title" name="title"  placeholder="Title">
                <input type="text" id="description" name="description"  placeholder="description">
                <input type="file" id="topicFile" name="topicFile">
                <input type="submit" value="Add new topic">
            </form>
        </div>
        <%- include('../../partials/footer') %>
    </div>

</body>
</html>